<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // var myNum1 = 10;
        // var myNum2 = 10;
        // if(myNum1 < myNum2){
        //     document.write("<h1>The later is greater<h1>") 
        // }
        // else if(myNum1 == myNum2){
        //     document.write("<h3>Values are equal<h3>")
        // }
        // else{
        //     document.write("<h1>Former number is greater<h1>")
        // }


        // var status = 1;
        // var msg;
        // if (status == 1) {
        //     msg = "Online";
        // }
        // else if (status == 2){
        //     msg = "Away";
        // }
        // else{
        //     msg = "Offline";
        // }
        // var day = 2;
        // switch (day) {
        //     case 1: alert ("Monday") 
        //     break;
        //     case 2: alert ("Tuesday") 
        //     break;
        //     case 3: alert ("Wednesday") 
        //     break;
        //     default: alert("Another Day");
        // }

        // var x = 3;
        // switch (x){
        //     case 1: document.write(x)
        //     break;
        //     case 2: document.write(x+2)
        //     break;
        //     default:
        //     document.write(x+5)
        // }

        var color = "yellow";
        switch (color){
            case "blue":
                document.write("Color is blue")
                break;
            case "red":
                document.write("Color is red")
                break;
            case "green":
                document.write("Color is green")
                break;
            case "orange":
                document.write("Color is orange")
                break;
            default:
                document.write("Color not found")
        }
    </script>
</body>
</html>